# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
dist/
*.log
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Scaffold-ETH
broadcast/
cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
